
@{
    ViewBag.Title = "Promociones";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Administrador</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inventario</a></li>
            <li class="breadcrumb-item active">Promociones</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <button onclick="NuevoDialogPromocion();" class="btn waves-effect waves-light btn-info pull-right hidden-sm-down" style="color:white !important;"><i class="fa fa-plus-circle"></i> Agregar Promoción</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title text-center">Lista Promociones</h4>
                <hr />
                <div class="table-responsive m-t-40">
                    <table class="table display table-bordered table-striped" id="TabPromocion">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descuento</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogPromocion">
    <!--Form Datos Promoción-->
    <form id="FormPromocion" class="form-horizontal form-material">
        <div class="form-body">
            <input type="hidden" name="IdPromocion" id="IdPromocion">
            <div class="row">
                <div class="col s8">
                    <div class="form-group">
                        <br />
                        <label for="NombrePromo">Nombre</label>
                        <input type="text" class="form-control form-control-line" name="NombrePromo" id="NombrePromo" required>
                    </div>
                </div>
                <div class="col s4">
                    <div class="form-group">
                        <br />
                        <label for="DescuentoPromo">Descuento</label>
                        <input type="text" onkeypress="return SoloNumeros(event);" class="form-control form-control-line" name="DescuentoPromo" id="DescuentoPromo" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="form-group">
                        <label for="DescripcionPromo">Descripción</label>
                        <textarea rows="4" class="form-control form-control-line" name="DescripcionPromo" id="DescripcionPromo" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <div class="form-group">
                        <label for="DescripcionPromo">Proveedor</label>
                        <select class="form-control form-control-line" name="ListaProveedor" id="ListaProveedor"></select>
                    </div>
                </div>
                <div class="col s4">
                    <div class="form-group">
                        <label for="FechaInicioPromo">Fecha Inicio</label>
                        <input type="text" class="form-control mydatepicker" name="FechaInicioPromo" id="FechaInicioPromo" required>
                    </div>
                </div>
                <div class="col s4">
                    <div class="form-group">
                        <label for="FechaFinPromo">Fecha Fin</label>
                        <input type="text" class="form-control mydatepicker" name="FechaFinPromo" id="FechaFinPromo" required>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="col-sm-12">
                    <table class="pull-right">
                        <tr>
                            <th><button type="submit" class="btn btn-aceptar waves-effect waves-light btn-large btn-lettre"><i class="fas fa-check-circle"></i> Aceptar</button></th>
                            <th><a onclick="CerraDialog('#DialogPromocion');" class="btn btn-danger btn-lettre waves-effect waves-light btn-large" style="color:white !important;"><i class="fa fa-times-circle"></i> Cancelar</a></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Plugin JavaScript -->
<script src="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/moment/moment.js"></script>
<script src="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Daterange picker plugins css -->
<link href="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- Date range Plugin JavaScript -->
<script src="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="https://wrappixel.com/demos/admin-templates/material-pro/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<!--Programación del modulo promociones-->
<script type="text/javascript" language="JavaScript" charset="utf8">
    //----------------------Métodos para enviar datos ---------------------
    $('#FormPromocion').on('submit', function (e) {
        e.preventDefault();

        var oPromocionModel = '{IdPromocion: "' + $('#IdPromocion').val() + '",NombrePromo: "' + $('#NombrePromo').val() + '",DescripcionPromo: "' + $('#DescripcionPromo').val() +
            '",DescuentoPromo: "' + $('#DescuentoPromo').val() + '",FechaInicioPromo: "' + $('#FechaInicioPromo').val() + '",FechaFinPromo: "' + $('#FechaFinPromo').val() +
            '",IdProveedor1: "' + $('#ListaProveedor option:selected').attr('name') + '"}';
        $.ajax({
            type: "POST",
            url: "/Promocion/EnviarDatos",
            data: oPromocionModel,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                CerraDialog('#DialogPromocion');
                if ($('#IdPromocion').val() != null || $('#IdPromocion').val() > 0) {
                    swal("Datos de la Promoción", "Actualizada con Éxito!", "success");
                } else {
                    swal("Promoción", "Agregada con Éxito!", "success");
                }
                LimpiarPromocion();
                ActualizarTabla('#TabPromocion');
            },
            error: function (response) {
                CerraDialog('#DialogPromocion');
                if ($('#IdPromocion').val() != null || $('#IdPromocion').val() > 0) {
                    swal("Error", "Al actualizar los Datos de la Promoción!", "error");
                } else {
                    swal("Error", "Al agregar Promoción!", "error");
                }
                LimpiarPromocion();
            }
        });
    });
    function EliminarPromocion(IdPromocion) {
        swal({
            title: "¿Estas Seguro?",
            text: "¿Desea Elimininar esta Promoción?",
            icon: "warning",
            buttons: ["No", "Si"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Promocion/EliminarPromocion",
                        data: '{IdPromocion: "' + IdPromocion + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            swal("Promoción", "Eliminada con Éxito!", "success");
                            ActualizarTabla('#TabPromocion');
                        },
                        error: function (response) {
                            swal("Error", "Al eliminar la Promoción!", "error");
                        }
                    });
                } else {
                    swal("Se ha cancelado la operación.");
                }
            });
    }
    //----------------------Métodos para recibir datos -------------------
    function ObtenerPromocion(IdPromocion) {
        if (IdPromocion != null || IdPromocion > 0) {
            $.ajax({
                url: "/Promocion/ObtenerPromocion",
                type: 'POST',
                data: { 'IdPromocion': IdPromocion },
                success: function (result) {
                    $('#IdPromocion').val(result.IdPromocion);
                    $('#NombrePromo').val(result.NombrePromo);
                    $('#DescripcionPromo').val(result.DescripcionPromo);
                    $('#DescuentoPromo').val(result.DescuentoPromo);
                    $('#FechaInicioPromo').val(result.FechaInicioPromo);
                    $('#FechaFinPromo').val(result.FechaFinPromo);
                    $("#ListaProveedor option[name=" + result.IdProveedor1 + "]").attr("selected", true);
                    var ActualizarDialogPromocion = $('#DialogPromocion');
                    ActualizarDialogPromocion.data("uiDialog")._title = function (title) { title.html(this.options.title); };
                    ActualizarDialogPromocion.dialog('option', 'title', '<i class="fa fa-edit"></i>&nbsp;&nbsp;Actualizar Datos de la Promoción');
                    AbrirDialog(ActualizarDialogPromocion);
                }
            });
        } else {
            swal({
                title: "Error!",
                text: "No se puede obtener los datos de la Promoción!",
                icon: "error",
                button: "Cerrar",
            });
        }
    }
    //------------------Se ejecuta al cargar la página----------------
    jQuery(function ($) {
         //Cargar tabla promocion
        var oTabPromocion = $('#TabPromocion').DataTable({
            "ajax": {
                "url": "/Promocion/ListaPromocion",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "NombrePromo", "autoWidth": true },
                { "data": "DescuentoPromo", "autoWidth": true },
                { "data": "FechaInicioPromo", "autoWidth": true },
                { "data": "FechaFinPromo", "autoWidth": true },
                {
                    "data": "IdPromocion", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-info pull-right" onclick="ObtenerPromocion(' + data + ');" data-toggle="tooltip" title="Editar"><i class="fa fa-edit" style="color:white !important;"></i></a>'
                    }
                },
                {
                    "data": "IdPromocion", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-cancelar pull-right" onclick="EliminarPromocion(' + data + ');" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash" style="color:white !important;"></i></a>'
                    }
                }
            ]
        });
        //Configuración del dialogo promociones
        var oDialogPromocion = $('#DialogPromocion').dialog({
            autoOpen: false,
            modal: false,
            resizable: false,
            height: 460,
            width: 860,
            hide: "fade",
            modal: true,
            open: function (event, ui) {
                //center the dialog within the viewport (i.e. visible area of the screen)
                var top = Math.max(jQuery(window).height() / 2 - jQuery(this)[0].offsetHeight / 2, 0);
                var left = Math.max(jQuery(window).width() / 2 - jQuery(this)[0].offsetWidth / 2, 0);
                jQuery(this).parent().css('top', top + "px");
                jQuery(this).parent().css('left', left + "px");
                jQuery(this).parent().css('position', 'fixed');
            },
            close: function () {
                LimpiarPromocion();
            }
        });
        //Cargar lista proveedores
        var oListaProveedor = $.getJSON('/Producto/ListaProveedor', function (data) {
            $.each(data, function (i, value) {
                $('#ListaProveedor').append('<option name="' + value.IdProveedor + '">' + value.NombreProv + '</option>');
            });
        });
        //Cargar Datepicker UI
        jQuery('.mydatepicker').datepicker();

    })(jQuery);
    //--------------------Extras-----------------
    function LimpiarPromocion() {
        $('#ListaProveedor option[selected="selected"]').removeAttr('selected');
        $('#FormPromocion')[0].reset();
    }
    function NuevoDialogPromocion() {
        var oNuevoDialogPromocion = $('#DialogPromocion');
        oNuevoDialogPromocion.data("uiDialog")._title = function (title) { title.html(this.options.title); };
        oNuevoDialogPromocion.dialog('option', 'title', '<i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Agregar Promoción');
        LimpiarPromocion();
        AbrirDialog(oNuevoDialogPromocion);
    }
    function SoloNumeros(e) {
        var keynum = window.event ? window.event.keyCode : e.which;
        if ((keynum == 8) || (keynum == 46))
            return true;
        return /\d/.test(String.fromCharCode(keynum));
    } 
</script>