
@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Administrador</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
            <li class="breadcrumb-item active">Departamentos</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <button onclick="NuevoDialogDepartamento();" class="btn waves-effect waves-light btn-info pull-right hidden-sm-down" style="color:white !important;"><i class="fa fa-plus-circle"></i> Agregar Departamento</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title text-center">Lista Departamentos</h4>
                <hr />
                <div class="table-responsive m-t-40">
                    <table class="table display table-bordered table-striped" id="TabDepartamento">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogDepartamento">
    <!--Form Datos Departamento-->
    <form id="FormDepartamento" class="form-horizontal form-material">
        <div class="form-body">
            <input type="hidden" name="IdTipoProducto" id="IdTipoProducto">
            <div class="row">
                <div class="col s12">
                    <div class="form-group">
                        <br />
                        <label for="TipoProducto">Nombre</label>
                        <input type="text" class="form-control form-control-line" name="TipoProducto" id="TipoProducto" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="col-sm-12">
                <table class="pull-right">
                    <tr>
                        <th><button type="submit" class="btn btn-aceptar waves-effect waves-light btn-large btn-lettre"><i class="fas fa-check-circle"></i> Aceptar</button></th>
                        <th><a onclick="CerraDialog('#DialogDepartamento');" class="btn btn-danger btn-lettre waves-effect waves-light btn-large" style="color:white !important;"><i class="fa fa-times-circle"></i> Cancelar</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
<!--Programación del modulo departamentos-->
<script type="text/javascript" language="JavaScript" charset="utf8">
        //----------------------Métodos para enviar datos ---------------------
    $('#FormDepartamento').on('submit', function (e) {
        e.preventDefault();

        var oTipoProductoModel = '{IdTipoProducto: "' + $('#IdTipoProducto').val() + '",TipoProducto: "' + $('#TipoProducto').val() + '" }';
        $.ajax({
            type: "POST",
            url: "/TipoProducto/EnviarDatos",
            data: oTipoProductoModel,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                CerraDialog('#DialogDepartamento');
                if ($('#IdTipoProducto').val() != null || $('#IdTipoProducto').val() > 0) {
                    swal("Datos del Departamento", "Actualizado con Éxito!", "success");
                } else {
                    swal("Departamento", "Agregado con Éxito!", "success");
                }
                LimpiarDepartamento();
                ActualizarTabla('#TabDepartamento');
            },
            error: function (response) {
                CerraDialog('#DialogDepartamento');
                if (IdTipoProducto != null || IdTipoProducto > 0) {
                    swal("Error", "Al actualizar los Datos del Departamento!", "error");
                } else {
                    swal("Error", "Al agregar Departamento!", "error");
                }
                LimpiarDepartamento();
            }
        });
    });
    function EliminarDepartamento(IdTipoProducto) {
        swal({
            title: "¿Estas Seguro?",
            text: "¿Desea Elimininar este Departamento?",
            icon: "warning",
            buttons: ["No", "Si"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/TipoProducto/EliminarTipoProducto",
                        data: '{IdTipoProducto: "' + IdTipoProducto + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            swal("Departamento", "Eliminado con Éxito!", "success");
                            ActualizarTabla('#TabDepartamento');
                        },
                        error: function (response) {
                            swal("Error", "Al eliminar el Departamento!", "error");
                        }
                    });
                } else {
                    swal("Se ha cancelado la operación.");
                }
            });
    }
    //----------------------Métodos para recibir datos -------------------
    function ObtenerDepartamento(IdTipoProducto) {
        if (IdTipoProducto != null || IdTipoProducto > 0) {
            $.ajax({
                url: "/TipoProducto/ObtenerTipoProducto",
                type: 'POST',
                data: { 'IdTipoProducto': IdTipoProducto },
                success: function (result) {
                    $('#IdTipoProducto').val(result.IdTipoProducto);
                    $('#TipoProducto').val(result.TipoProducto);
                    var ActualizarDialogDepartamento = $('#DialogDepartamento');
                    ActualizarDialogDepartamento.data("uiDialog")._title = function (title) { title.html(this.options.title); };
                    ActualizarDialogDepartamento.dialog('option', 'title', '<i class="fa fa-edit"></i>&nbsp;&nbsp;Actualizar Datos del Departamento');
                    AbrirDialog(ActualizarDialogDepartamento);
                }
            });
        } else {
            swal({
                title: "Error!",
                text: "No se puede obtener los datos del Departamento!",
                icon: "error",
                button: "Cerrar",
            });
        }
    }
    //------------------Se ejecuta al cargar la página----------------
    jQuery(function ($) {
        //Cargar tabla departamentos
            var oTabDepartamento = $('#TabDepartamento').DataTable({
            "ajax": {
                "url": "/TipoProducto/ListaTipoProducto",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "TipoProducto", "autoWidth": true },
                {
                    "data": "IdTipoProducto", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-info pull-right" onclick="ObtenerDepartamento(' + data + ');" data-toggle="tooltip" title="Editar"><i class="fa fa-edit" style="color:white !important;"></i></a>'
                    }
                },
                {
                    "data": "IdTipoProducto", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-cancelar pull-right" onclick="EliminarDepartamento(' + data + ');" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash" style="color:white !important;"></i></a>'
                    }
                }
            ]
        });
        //Configuración del dialogo departamentos
            var oDialogDepartamento = $("#DialogDepartamento").dialog({
            autoOpen: false,
            modal: false,
            resizable: false,
            height: 250,
            width: 500,
            hide: "fade",
            modal: true,
            open: function (event, ui) {
                //center the dialog within the viewport (i.e. visible area of the screen)
                var top = Math.max(jQuery(window).height() / 2 - jQuery(this)[0].offsetHeight / 2, 0);
                var left = Math.max(jQuery(window).width() / 2 - jQuery(this)[0].offsetWidth / 2, 0);
                jQuery(this).parent().css('top', top + "px");
                jQuery(this).parent().css('left', left + "px");
                jQuery(this).parent().css('position', 'fixed');
            },
            close: function () {
                LimpiarDepartamento();
            }
             });
    })(jQuery);
    //--------------------Extras-----------------
    function LimpiarDepartamento() {
        $('#FormDepartamento')[0].reset();
    }
    function NuevoDialogDepartamento() {
        var oNuevoDialogDepartamento = $('#DialogDepartamento');
        oNuevoDialogDepartamento.data("uiDialog")._title = function (title) { title.html(this.options.title); };
        oNuevoDialogDepartamento.dialog('option', 'title', '<i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Agregar Departamento');
        LimpiarDepartamento();
        AbrirDialog(oNuevoDialogDepartamento);
    }
</script>
