
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Administrador</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Administrador</a></li>
            <li class="breadcrumb-item active">Proveedores</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <button onclick="NuevoDialogProveedor();" class="btn waves-effect waves-light btn-info pull-right hidden-sm-down" style="color:white !important;"><i class="fa fa-plus-circle"></i> Agregar Proveedor</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title text-center">Lista Proveedores</h4>
                <hr />
                <div class="table-responsive m-t-40">
                    <table class="table display table-bordered table-striped" id="TabProveedor">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DialogProveedor">
    <!--Form Datos Proveedor-->
    <form id="FormProveedor" class="form-horizontal form-material">
        <div class="form-body">
            <input type="hidden" name="IdProveedor" id="IdProveedor">
            <div class="row">
                <div class="col s12">
                    <div class="form-group">
                        <br />
                        <label for="NombreProv">Nombre</label>
                        <input type="text" class="form-control form-control-line" name="NombreProv" id="NombreProv" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="form-group">
                        <label for="TelefonoProv">Teléfono</label>
                        <input type="tel" class="form-control form-control-line" name="TelefonoProv" id="TelefonoProv" required>
                    </div>
                </div>
                <div class="col s6">
                    <div class="form-group">
                        <label for="CorreoProv">Correo Electrónico</label>
                        <input type="email" class="form-control form-control-line" name="CorreoProv" id="CorreoProv" required>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="col-sm-12">
                    <table class="pull-right">
                        <tr>
                            <th><button type="submit" class="btn btn-aceptar waves-effect waves-light btn-large btn-lettre"><i class="fas fa-check-circle"></i> Aceptar</button></th>
                            <th><button onclick="CerraDialog('#DialogProveedor');" class="btn btn-danger btn-lettre waves-effect waves-light btn-large"><i class="fa fa-times-circle"></i> Cancelar</button></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" language="JavaScript" charset="utf8">
    //----------------------Métodos para enviar datos ---------------------
    $('#FormProveedor').on('submit', function (e) {
        e.preventDefault();
  
        var oProveedorModel = '{IdProveedor: "' + $('#IdProveedor').val() + '",NombreProv: "' + $('#NombreProv').val() +
            '",TelefonoProv: "' + $('#TelefonoProv').val() + '",CorreoProv: "' + $('#CorreoProv').val() + '" }'
        $.ajax({
            type: "POST",
            url: "/Proveedor/EnviarDatos",
            data: oProveedorModel,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                CerraDialog('#DialogProveedor');
                if ($('#IdProveedor').val() != null || $('#IdProveedor').val() > 0) {
                    swal("Datos del Proveedor", "Actualizado con Éxito!", "success");
                } else {
                    swal("Proveedor", "Agregado con Éxito!", "success");
                }
                LimpiarProveedor();
                ActualizarTabla('#TabProveedor');
            },
            error: function (response) {
                CerraDialog('#DialogProveedor');
                if ($('#IdProveedor').val() != null || $('#IdProveedor').val() > 0) {
                    swal("Error", "Al actualizar los Datos del Proveedor!", "error");
                } else {
                    swal("Error", "Al agregar Proveedor!", "error");
                }
                LimpiarProveedor();
            }
        });
    });
    function EliminarProveedor(IdProveedor) {
        swal({
            title: "¿Estas Seguro?",
            text: "¿Desea Elimininar este Proveedor?",
            icon: "warning",
            buttons: ["No", "Si"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Proveedor/EliminarProveedor",
                        data: '{IdProveedor: "' + IdProveedor + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            swal("Proveedor", "Eliminado con Éxito!", "success");
                            ActualizarTabla('#TabProveedor');
                        },
                        error: function (response) {
                            swal("Error", "Al eliminar Proveedor!", "error");
                        }
                    });
                } else {
                    swal("Se ha cancelado la operación.");
                }
            });
    }
     //----------------------Métodos para recibir datos -------------------
    function ObtenerProveedor(IdProveedor) {
        if (IdProveedor != null || IdProveedor > 0) {
            $.ajax({
                url: "/Proveedor/ObtenerProveedor",
                type: 'POST',
                data: { 'IdProveedor': IdProveedor },
                success: function (result) {
                    $('#IdProveedor').val(result.IdProveedor);
                    $('#NombreProv').val(result.NombreProv);
                    $('#TelefonoProv').val(result.TelefonoProv);
                    $('#CorreoProv').val(result.CorreoProv);
                    var ActualizarDialogProveedor = $('#DialogProveedor');
                    ActualizarDialogProveedor.data("uiDialog")._title = function (title) { title.html(this.options.title); };
                    ActualizarDialogProveedor.dialog('option', 'title', '<i class="fa fa-edit"></i>&nbsp;&nbsp;Actualizar Datos del Proveedor');
                    AbrirDialog(ActualizarDialogProveedor);
                }
            });
        } else {
            swal({
                title: "Error!",
                text: "No se puede obtener los datos del Proveedor!",
                icon: "error",
                button: "Cerrar",
            });
        }
    }
    //------------------Se ejecuta al cargar la página----------------
    jQuery(function ($) {
         //Cargar tabla proveedores
        var oTabProveedor = $('#TabProveedor').DataTable({
            "ajax": {
                "url": "/Proveedor/ListaProveedor",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "NombreProv", "autoWidth": true },
                { "data": "TelefonoProv", "autoWidth": true },
                { "data": "CorreoProv", "autoWidth": true },
                {
                    "data": "IdProveedor", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-info pull-right" onclick="ObtenerProveedor(' + data + ');" data-toggle="tooltip" title="Editar"><i class="fa fa-edit" style="color:white !important;"></i></a>'
                    }
                },
                {
                    "data": "IdProveedor", "autoWidth": "true", "render": function (data) {
                        return '<a class="btn btn-cancelar pull-right" onclick="EliminarProveedor(' + data + ');" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash" style="color:white !important;"></i></a>'
                    }
                }
            ]
        });
        //Configuración del dialogo proveedores
        var oTabProveedor=$("#DialogProveedor").dialog({
            autoOpen: false,
            modal: false,
            resizable: false,
            height: 330,
            width: 630,
            hide: "fade",
            modal: true,
            open: function (event, ui) {
                //center the dialog within the viewport (i.e. visible area of the screen)
                var top = Math.max(jQuery(window).height() / 2 - jQuery(this)[0].offsetHeight / 2, 0);
                var left = Math.max(jQuery(window).width() / 2 - jQuery(this)[0].offsetWidth / 2, 0);
                jQuery(this).parent().css('top', top + "px");
                jQuery(this).parent().css('left', left + "px");
                jQuery(this).parent().css('position', 'fixed');
            },
            close: function () {
                LimpiarProveedor();
            }
        });
    })(jQuery);
      //--------------------Extras-----------------
    function LimpiarProveedor() {
        $('#FormProveedor')[0].reset();
    }
    function NuevoDialogProveedor() {
        var oNuevoDialogProveedor = $('#DialogProveedor');
        oNuevoDialogProveedor.data("uiDialog")._title = function (title) { title.html(this.options.title); };
        oNuevoDialogProveedor.dialog('option', 'title', '<i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Agregar Proveedor');
        LimpiarProveedor();
        AbrirDialog(oNuevoDialogProveedor);
    }
</script>